@font-face {
    font-family: "AA-Neon";
    src: url(../fonts/AA-Neon.ttf);
}

@font-face {
    font-family: "Metropolis";
    src: url(../fonts/Metropolis_1920.otf);
}

body {
    font-family: Arial, sans-serif;
    font-size: 11pt;
}

.jshow__item[data-type="neon"] {
    font-family: "AA-Neon", sans-serif;
    color: #b1fffa;
    text-shadow: 0 0 .2em #81fff8;
    overflow: visible;
}

.jshow__item[data-type="mojito"] {
    font-family: "Metropolis", sans-serif;
    color: #b5d190;
    text-shadow: 0 0 .2em #a4dc59;
    overflow: visible;
}

.jshow__item[data-type="lever"] {
    overflow: visible;
}
