html.menu {
	height: 100%;
	border-right: solid 4px #EEE;	
}
/*
body, html {
	scroll-behavior: smooth;
}
*/
h3[id] {
	position: relative;
}

h3:target::before {
	content: '';
	position: absolute;
	left: -.8em;
	top: .2em;
	width: 0;
	height: 0;
	border-top: solid .5em transparent;
	border-bottom: solid .5em transparent;
	border-right: 0;
	border-left: solid .5em #e83e8c;
	opacity: .4;
}
