/*!
 * jShow
 * http://jshow.meum.ru/
 * Version: 0.0.1
 *
 * Copyright 2019 Alexandr Tkach
 * textor75@gmail.com
 * Released under the MIT license
 * https://bitbucket.org/textor75/jshow/src/master/LICENSE.md
 */
* {
	padding: 0;
	margin: 0;
	outline: none;
	border: 0;
	box-sizing: border-box;
}

#jshow-container {
	position: fixed;
	overflow: hidden;
	background-position: 50% 50%;
	background-size: cover;
}

#jshow-popout {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 1000;
	opacity: 0.9;
	background: #CCC;
	color: #000;
	padding: .1em .5em .1em .8em;
	font-size: 8.5pt;
	font-family: sans-serif;
	cursor: pointer;
    border-radius: .6em 0 0 0;
}

#jshow-popout span {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.6em;
}

#jshow-subtitles {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 20px 30px;
	color: #FFF;
	text-shadow: 0 0 2px #000;
	font: bold 10pt Arial, sans-serif;
	z-index: 480;
	line-height: 1.4;
	text-align: left;
}

#jshow-subtitles:empty,
#jshow-subtitles[data-hidden] {
	display: none;
}

#jshow-timer-container {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 6px;
	border-top: solid 1px rgba(0, 0, 0, .5);
	background: rgba(255, 255, 255, .5);
	z-index: 500;
}

#jshow-timer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 5px;
	background: rgba(0, 0, 255, .5);
	z-index: 510;
}
#jshow-timer:hover::after {
	content: attr(data-elapsed);
	position: absolute;
	right: -20px;
	width: 40px;
	text-align: center;
	bottom: 10px;
	color: #FFF;
	background-color: rgba(0, 0, 0, .5);
	padding: 2px 4px;
	border-radius: 6px;
	font-size: 11px;
}


#jshow-pager {
	position: absolute;
	bottom: 0;
	height: 5px;
	background: rgba(200, 0, 0, .5);
	z-index: 505;
}

.jshow__item {
	text-align: left;
	position: absolute;
	overflow: hidden;
	font-size: 1em;
	opacity: 0;
	z-index: -1;
	transition: all .6s linear 0s;
	background-position: 50% 50%;
	background-size: cover;
	transform: perspective(10vh);
}

.jshow__item[data-type="console"] {
	text-align: left;
	white-space: pre-wrap;
	padding: 1% 2%;
	font-family: monospace;
	background: #222;
	color: #eee;
}

.jshow__item[data-type="baloon"] {
	text-align: center;
	padding: 2%;
	background: #FFF;
	border: solid 1px #000;
	box-shadow: 0 .4em .5em rgba(0, 0, 0, .4);
	border-radius: 1em;
	color: #800;
}

.jshow__item[data-align="left"] {
	text-align: left;
}

.jshow__item[data-align="center"] {
	text-align: center;
}

.jshow__item[data-align="right"] {
	text-align: right;
}

.jshow__item[data-align="justify"] {
	text-align: justify;
}

.jshow__item[data-page],
.jshow__item[data-link] {
	cursor: pointer;
	text-decoration: underline;
}

.jshow__item a {
	color: inherit;
	text-decoration: underline;
}

.jshow__item img,
.jshow__item video {
	display: block;
	width: 100%;
}

#jshow-container[data-resize] .jshow__item,
#jshow-container[data-prepare] .jshow__item {
	transition: none;
}

/* ≡≡≡===--- DEBUG ---===≡≡≡ */

#jshow-container.debug {
	overflow: visible;
}

#jshow-container.debug .jshow__item {
    outline: solid 3px rgba(0, 120, 255, .4);
}

#jshow-container.debug .jshow__item::after {
	content: attr(data-debug);
	font: .6rem monospace;
	color: #000;
	background-color: #FFF;
	display: none;
	position: absolute;
	bottom: 100%;
	left: -3px;
	white-space: nowrap;
	padding: 3px;
	border-radius: 3px 3px 0 0;
}

#jshow-container.debug .jshow__item:hover {
	overflow: visible;
	outline-color: #FFF;
}

#jshow-container.debug .jshow__item:hover::after {
	display: block;
}